body{
    font-family: cursive;
    font-variant: all-petite-caps;
    font-weight: 500;
}

a{
    text-decoration: none;
}

.logo{
    position: absolute;
    height: 3em;
    width: auto;
    margin-left: 15px;
    margin-top: 5px;
}

.image{
    position: absolute;
    height: auto;
    width: auto;
    margin-top: 7em;
}


.navbar{
    margin-left: 20em;
}

.navlinks{
    display: inline-flex;
    list-style: none;
}

.links{
    margin-left: 30px;
}

.links:hover{
    text-decoration: underline;
}

.login{
    display: -webkit-inline-box;
    list-style: none;
    margin-left: 5em;
}

.auth{
    padding-left: 43px;
    text-decoration: line-through;
}

.about{
    margin-left: 35em;
    margin-top: 7.199em;
    position: inherit;
}

.about-para{

}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 1em;
    margin-left: 5em;
    margin-right: 5em;
}

.tech-head{
    margin-left: 30em;
}

.btn{
    margin-left: 7em;
    border: 1px solid;
    border-radius: 6px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: cornsilk;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
}

.probtn{
    margin-left: 1em;
    text-decoration: none;
}

.space{
    margin-left: 3em;
}
.cont-det{
    margin-left: 22px;
}

/* media */

@media only screen and (min-width:0px) and (max-width:320px)
{
    .image{
        display: none;
    }
    .about{
        margin-left: 4em;
        position: "";
        margin-right: 4em;
    }
    .navbar{

    }
    .grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 19em;
        margin-left: 18em;
    }
}