body{
    font-family: cursive;
    font-variant: all-petite-caps;
    font-weight: 500;
}

.image{
    position: absolute;
    height: auto;
    width: auto;
    margin-top: 7em;
}


.navbar{
    margin-left: 20em;
}

.navlinks{
    display: inline-flex;
    list-style: none;
    margin-left: 7em;
}

.links{
    margin-left: 30px;
}

.links:hover{
    text-decoration: underline;
}

.login{
    display: -webkit-inline-box;
    list-style: none;
    margin-left: 5em;
}

.auth{
    padding-left: 43px;
}

.about{
    margin-left: 35em;
    margin-top: 7.199em;
    position: inherit;
}

.about-para{

}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 1em;
    margin-left: 5em;
    margin-right: 5em;
}

.tech-head{
    margin-left: 30em;
}